/* General Styles */
body {
    font-family: Arial, sans-serif;
}

/* Header Section */
.header-section {
    text-align: center;
    padding: 20px 0;
}

.header-section h1 {
    font-size: 1.8rem;
    font-weight: bold;
    color: #b01f24; /* Customize this to your brand color */
}

.header-section img {
    height: 50px;
}

/* Menu Section */
.menu-section {
    background-color: #fff;
    padding: 10px 0;
    box-shadow: 0 4px 10px rgba(0, 0, 0, 0.1);
    position: relative;
    z-index: 10;
}

.menu {
    padding: 0;
    margin: 0;
}

.menu-item {
    display: inline-block;
    padding: 10px 20px;
    font-size: 1.1rem;
    font-weight: bold;
    text-decoration: none;
    color: #5d2e2a;
    transition: all 0.3s ease;
    position: relative;
}

.menu-item:hover {
    text-decoration: none;
    color: #b01f24; /* Customize hover color */
    border-bottom: 3px solid #b01f24; /* Add bottom border on hover */
}

/* Selected Menu Item with Animation */
.menu-item.active {
    color: #b01f24;
    border-bottom: 3px solid #b01f24;
 }

/* @keyframes bounce {
    0% { transform: scale(1); }
    50% { transform: scale(1.1); }
    100% { transform: scale(1); }
} */

/* Sticky Menu */
.sticky {
    position: fixed;
    top: 0;
    width: 100%;
    background-color: #fff;
    box-shadow: 0px 4px 8px rgba(0, 0, 0, 0.1);
}

/* Search Section */
.search-section {
    background-color: #b01f24;
    padding: 40px 0;
    text-align: center;
}

.search-section input {
    width: 50%;
    border-radius: 20px;
    padding: 12px 20px;
    border: none;
    box-shadow: 0px 4px 10px rgba(0, 0, 0, 0.1);
}

/* Recipe Card Section */
.recipe-card .card {
    border-radius: 10px;
    overflow: hidden;
    box-shadow: 0px 8px 16px rgba(0, 0, 0, 0.1);
    transition: all 0.3s ease;
}

.recipe-card .card:hover {
    transform: translateY(-5px);
    box-shadow: 0px 12px 20px rgba(0, 0, 0, 0.15);
}

.recipe-card .card-title {
    font-weight: bold;
    color: #b01f24;
}

.recipe-card .fixed-image {
    height: 200px;
    object-fit: cover;
    width: 100%;
    border-bottom: 1px solid #ddd;
}

/* Responsive Styles */
@media (max-width: 768px) {
    .search-section input {
        width: 80%;
    }

    .menu-item {
        display: block;
        text-align: center;
        padding: 10px;
    }
}
